@*

@model GrpcService1.Employees

<table border="1" cellpadding="10">
    @foreach (var item in Model.Items)
    {
            <tr>
                <td>@item.EmployeeID</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
            </tr>
    }
</table>*@

@{
    ViewData["Title"] = "Home Page";
}

@model GrpcService1.Employees

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1 class="text-primary">Employee List</h1>
        </div>
    </div>
    <br /><br />
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
        <tr>
            <th>Mã nhân viên</th>
            <th>Họ</th>
            <th>Tên</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.Items)
            {
                        <tr>
                            <td width="5%">
                        @obj.EmployeeID
                            </td>
                            <td width="20%">
                        @obj.FirstName
                            </td>
                            <td width="15%">
                        @obj.LastName
                            </td>
                            <td>
                                    <a asp-action="Update" asp-route-id="@obj.EmployeeID">Update</a> 
                                    <a asp-action="Delete" asp-route-id="@obj.EmployeeID">Delete</a> 
                            </td>
                        </tr>
            }
        </tbody>
    </table>

    <a asp-action="Create">Create</a> 
</div>